:root {
  --brand-color: #2f303a;
  --button-color: #2196f3;
  --text-primary: #212121;
  --background-color: #e5e5e5;

  --primary-fonts: Roboto;
  --secondary-fonts: Raleway;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
.main-conteiner{
  width: 1600;
}
.header{
 position: absolute;
width: 1600px;
height: 80px;
left: 0px;
top: 0px;
background: #FFFFFF;;
}
.logo-image {
 position: absolute;
width: 145px;
height: 31px;
left: 215px;
top: 24px;
font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 26px;
color: #2196F3;
}
.logo-item2{
  color:#212121;
}
.nav-items {
  font-family: Roboto
Font style: Medium
Font size: 14px
Line height: 16px
Line height: 100%
Align: Left
Vertical align: Top
Letter spacing: 2%
}
.nav-link1{
 position: absolute;
width: 49px;
height: 16px;
left: 453px;
top: 32px;
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;
color: #2196F3;
}
.nav-link2{
  position: absolute;
width: 77px;
height: 16px;
left: 552px;
top: 32px;
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;
color: #212121;
}
.nav-link3{
  position: absolute;
width: 68px;
height: 16px;
left: 679px;
top: 32px;
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;
color: #212121;
}
.link-box-mail{
 position: absolute;
width: 135px;
height: 16px;
left: 1078px;
top: 32px;
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;
color: #2196F3;
}
.link-box-phone{
  position: absolute;
width: 122px;
height: 16px;
left: 1263px;
top: 32px;
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;
color: #757575;
}
.hero-box{
 position: absolute;
width: 1600px;
height: 600px;
left: 0px;
top: 80px;
background: #2F303A;
}
.sup-header{
 position: absolute;
width: 696px;
height: 120px;
left: 452px;
top: 200px;
font-family: Roboto;
font-style: normal;
font-weight: 900;
font-size: 44px;
line-height: 60px;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: #FFFFFF;
}
.order{
  position: absolute;
width: 200px;
height: 50px;
left: 700px;
top: 430px;
background: #2196F3;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
}
.button-text{
  color: white ;
  font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 30px;
letter-spacing: 0.06em;
text-align: center;
}
.adv{
  position: absolute;
width: 1170px;
height: 101px;
left: 215px;
top: 774px;
}
.adv-head{
  color: #212121;
  font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 16px;
letter-spacing: 0.03em;
text-align: left;
}
.adv-block{
  position: absolute;
width: 1170px;
height: 101px;
left: 215px;
top: 774px;
}
.adv-text{
  color: #757575;
  font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.03em;
text-align: left;
}
.doing{
position: absolute;
width: 376px;
height: 42px;
left: 612px;
top: 969px;
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 42px;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
white-space: nowrap;
}
.d-text{
  height: 294px;
width: 370px;
left: 215px;
top: 1061px;
border-radius: 0px;
}
.img1{
  position: absolute;
width: 370px;
height: 294px;
left: 215px;
top: 1061px;
}
.img2{
  position: absolute;
width: 370px;
height: 294px;
left: 615px;
top: 1061px;
}
.img3{
  position: absolute;
width: 370px;
height: 294px;
left: 1015px;
top: 1061px;
}
.d-list{
  color: #212121;
  font-family: Roboto;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 42px;
letter-spacing: 0.03em;
text-align: center;
}
.team{
  color: #212121;
  font-family: Roboto;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 42px;
letter-spacing: 0.03em;
text-align: center;
}
.our-team{
  background-color:  #F5F4FA;
  height: 648px;
width: 1600px;
left: 0px;
top: 1449px;
border-radius: 0px;
}
.player{
  height: 368px;
width: 270px;
left: 215px;
top: 1635px;
border-radius: [object Object]px;

}
.t-photo{
  height: 260px;
width: 270px;
left: 215px;
top: 1635px;
border-radius: 0px;
}
.t-name{
  color: #212121;
  font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 19px;
letter-spacing: 0.03em;
text-align: center;
}
.t-position{
  color: #757575;
  font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 19px;
letter-spacing: 0.03em;
text-align: center;
}
.contact-section{
  background: #2F303A;
  height: 252px;
width: 1600px;
left: 0px;
top: 2097px;
border-radius: 0px;

}