:root {
  --brand-color: #2f303a;
  --button-color: #2196f3;
  --text-primary: #212121;
  --background-color: #e5e5e5;

  --primary-fonts: Roboto;
  --secondary-fonts: Raleway;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
.main-conteiner {
  width: 1600;
}
.link {
  color: #757575;
}

.link:hover {
  color: tomato;
}
.link:focus {
  color: palevioletred;
}
body {
  font-family: var(--primary-fonts);
  font-family: var(--secondary-fonts);
  text-emphasis-color: var(--text-primary);
}

.logo-image {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  color: #2196f3;
}
.nav-link {
  color: #212121;
}
.nav-link1 {
  color: #2196f3;
}
.hero-box {
  background: #2f303a;
}
.sup-header {
  color: #ffffff;
}
.button-first {
  cursor: pointer;
  background-color: var(--button-color);
  width: 200px;
  height: 50px;
}
.button-first-text {
  color: #ffffff;
  font-style: normal;
  font-weight: bold;
}
.adv-text {
  color: #757575;
}
.t-position {
  color: #757575;
}
.button-second {
  cursor: pointer;
  background-color: var(--button-color);
  width: 73px;
  height: 38px;
}
.button-second-text {
  color: #ffffff;
  font-style: normal;
  font-weight: bold;
}
.button-third {
  cursor: pointer;
  width: 145px;
  height: 38px;
}
.button-third-text {
  font-style: normal;
  font-weight: bold;
}
